   body{
       margin: 0px;
       background-color: #ffffffde;
   }
   
   .headerOben {
        height: 75px;
        background-color: #000000;
        display: flex;
        justify-content: flex-start;
        align-items: center;
   }

   .logo {
       height: 60px;
       width: 200px;
   }

   .headerUnten {
        height: 30px;
        background-color: rgb(40, 40, 40);
        display: flex;
        justify-content: center;
        align-items: center;
   }

   .navHeader {
       font-family: Arial, Helvetica, sans-serif;
       color: rgb(220, 220, 220);
       font-size: 18px;
       text-decoration: none;
       margin-right: 30px;
   }

   .navHeader:hover {
       color: white;
   }

   #canvas{
      width: 100vmin;
      height: 100vmin;
      display: grid;
      grid-template-rows: repeat(21, 1fr);
      grid-template-columns: repeat(21, 1fr);
   }

   .canvasLocation {
       background-color: transparent;
       display: flex;
       justify-content: center;
       margin-top: 20px;
   }

   .containerOne {
       background-color: transparent;
       display: flex;
       justify-content: center;
       margin: 5px;
   }
   
   .up {
	    background-color:transparent;
	    border-radius:18px;
	    border:2px solid #b694ff;
	    display:inline-block;
	    cursor:pointer;
	    color:#b694ff;
	    font-family:Arial;
	    font-size:20px;
	    padding:15px 40px;
	    text-decoration:none;
    }
    .up:hover {
	    background-color:#b694ff21;}

    .containerTwo {
        background-color: transparent;
        display: flex;
        justify-content: center;
        
    }

    .left {
        background-color:transparent;
        border-radius:18px;
        border:2px solid #b694ff;
        display:inline-block;
        cursor:pointer;
        color:#b694ff;
        font-family:Arial;
        font-size:20px;
        padding:15px 40px;
        text-decoration:none;
        margin-right: 5px;
    }
    .left:hover {
        background-color:#b694ff21;
    }  

    .mid {
        background-color:transparent;
        border-radius:18px;
        border:2px solid #b694ff;
        display:inline-block;
        cursor:pointer;
        color:#b694ff;
        font-family:Arial;
        font-size:20px;
        padding:15px 16px;
        text-decoration:none;
    }
    .mid:hover {
        background-color:#b694ff21;
    }

    
    .right {
        background-color:transparent;
        border-radius:18px;
        border:2px solid #b694ff;
        display:inline-block;
        cursor:pointer;
        color:#b694ff;
        font-family:Arial;
        font-size:20px;
        padding:15px 40px;
        text-decoration:none;
        margin-left: 5px;
    }
    .right:hover {
        background-color:#b694ff21;
    }

    .containerThree {
        background-color: transparent;
        display: flex;
        justify-content: center;
        margin: 5px;
    }

    .down {
        background-color:transparent;
        border-radius:18px;
        border:2px solid #b694ff;
        display:inline-block;
        cursor:pointer;
        color:#b694ff;
        font-family:Arial;
        font-size:20px;
        padding:15px 40px;
        text-decoration:none;
    }
    .down:hover {
        background-color:#b694ff21;
    }

    
    